body {
    color: palevioletred;
    background: rgb(237, 233, 233);
}

header {
    border-bottom: solid 2px rgb(228, 42, 219);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 42, 157);
}

.chamada-texto  {
    background: rgb(231, 230, 232);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center
    }


.chamada-texto {
    margin-right: 5%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .categoria-videos img {
    opacity: 50%;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
}

